html {
	scroll-behavior: smooth;
}
body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #f2f2f2;
	text-align: center;
}
a:hover {
	text-decoration: none;
}
#navbar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	opacity: 0.5;
	transition: opacity 0.2s ease-out;
	background-color: #ffead0;
	border-bottom: 1px solid orange;
}
#welcome-section {
	background-color: #fd7e14;
	padding: 40vh 5% 0 5%;
	width: 100%;
	height: 100vh;
}
#footer {
	background-color: #ff2400;
	margin: 1% 0;
	padding: 1%;
}
#main {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 50px;
}
#footer a {
	text-shadow: 1px 1px 1px #2d1408;
}
.social-icons svg {
	height: 1em;
	margin: 0.5%;
}
.social-icons #freeCodeCamp_logo {
	height: 1.2em;
	margin: 0.2%;
}
.orange-bar {
	background-color: #ff4700;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 1em;
}
.orange-bar a {
	text-shadow: 1.5px 1.5px 1.5px #2d1408;
}
.project-tile {
	display: inline-flex;
	flex-direction: column;
	margin: 2%;
	width: 40%;
}
.project-tile iframe {
	height: 20vh;
}
#navbar:hover {
	opacity: 1 !important;
}

@media (max-width: 768px) {
.project-tile {
	width: 80%
}
}
